div#terminal {
    height: 100%;
    --color: #ffffff;
    --size: 1.3;
    --font: sfmono-regular,consolas,menlo,dejavu sans mono,monospace
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.terminal img {
    max-width: 100%;
}
